name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build, Lint, and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Formatter and Linter
        run: bun run check

      - name: Typecheck
        run: bun run typecheck

      - name: Build
        run: bun run build

      - name: Test
        run: bun run test
